version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: db-1
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydatabase
    ports:
      - "3307:3306"    # ← Change 3306 en 3307
    volumes:
      - db_data:/var/lib/mysql

  php:
    build: .
    container_name: php-1
    volumes:
      - ./www:/var/www/html

  web:
    image: nginx:latest
    container_name: web-1
    ports:
      - "80:80"
    volumes:
      - ./www:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  db_data:
